.w-2-units-wrapper-left {
    display: flex;
    flex-direction: column;
    padding: 150px 0 0;
    width: 410px;
    h1 {
        font-family: 'Lora' , serif;
        font-weight: 500;
        font-size: 48px;
        line-height: 61px;
    }
    p {
        padding: 40px 0 0;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 29px;
    }
    span {
        margin: 45px 0 0;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        a{
            display: flex;
            align-items: center;
            &::after {
                content: "\e941";
                font-family: 'Material Icons';
                padding: 0 0 0 15px;
                font-weight: bold;
                font-size: 18px;
                line-height: 22px;
                animation: move 2s infinite ease-in-out;
                animation-play-state: paused;
            }
            &:hover {
                &::after {
                    animation-play-state: running;
                }
            }
        }
           
    }
}
@keyframes move {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(5px);
    }
    100% {
        transform: translateX(0px);
    }
}
.w-2-units-wrapper-right {
    display: flex;
    max-width: 57.5%;
    position: relative;
    img {
        height: auto;
        width :100%;
    }
}
.w-author-card {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 30px;
    bottom: 0;
    transform: translateY(60%);
    padding: 20px 0 35px;
    background: $darkGray;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    p {
        margin: 0 100px  0 25px;
        padding: 25px 0 0 0;
        width: 285px;
        font-family: 'Lora';
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 31px;
    }
}
.author-info {
    display: flex;
    padding: 0 30px;
    img {
        height: 50px;
        width: 50px;
        margin:  0 20px 0 0;
        border-radius: 50%;
    }
    div{
        display: flex;
        flex-direction: column;
    }
    h3 {
        padding: 2.5px 0 0;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
    }
    strong {
        padding: 7.5px  0 0;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        color: #828282;
    }
}
#loader {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 3;
    background: $white;
    clip-path: inset(0 0 0 0);
    transition: 1s ease-in;
    .w-header-logo {
        padding: 0;
        transform: scale(2.5);
        a {
            padding: 8px;
            color: $darkGray;
            font-family: 'Crimson Pro', serif;
            font-weight: 200;
            font-size: 14px;
            line-height: 16px;
            position: relative;
            &::after {
                content: '';
                display: block;
                width: 2px;
                height: 2px;
                position: absolute;
                bottom: -1px;
                background: $darkGray;
                animation: select 2.8s infinite;
            }
        }
    }
    &.load {
        clip-path: inset(0 0 100% 0);
    }
}
// .anim-element {
//     opacity: 0 ;
//     &.is-active {
//         opacity:1;
//     }
// }